.search-container {
    display: flex;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
.detail-search-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.infos-container {
    display: flex; 
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }
  
  .info {
    background-color: #e8e9fd;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .info p {
    margin: 5px 0;
  }

  .info-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 10px;
  }
  
  .info:hover {
    background-color: #dcdffe;
    transform: translateY(-2px);
    transition: all 0.2s ease;
  }
  