.header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #374151;
  margin-left: 20px;
}


.search-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f900;   
}

.search-box, 
.other-search-box {
    
    align-items: center;
    gap: 20px;
    width: 100%;
}

.search-input {
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/*下段　日付とソート機能*/
.other-search-box {
  display: flex;
  width: 100%;
}
  /*日付絞り*/
  .date-search {
    flex-direction: row;
    width: 70%;
    background-color: #f9f9f9;
    border: 1px solid #cccc0000;
    border-radius: 10px;
  }

    /* 日付フィールドのスタイル */
  .date-search input[type="date"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 35%; /* 日付フィールドの幅 */
  }

  .date-search input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  /*ソート機能*/
  .sort{
    margin-left: auto;
    width: 30%;
    background-color: #f9f9f9;
    border: 1px solid #cccc0000;
  }

  .sort-select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .sort-select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

.infos-container {
    display: flex; 
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  
  .info {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .info p {
    margin: 1px 0;
    font-size: 1rem;
    font-weight: 350;
    color: #374151;
  }

  .info-grid{
    display: grid;
    gap: 5px;
    padding: 5px;
  }
  
  .info:hover {
    background-color: #ffffff;
    transform: translateY(-1px);
    transition: all 0.2s ease;
  }


.info-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.25rem 0;
  font-size: 1rem;
}

.info-line .material-symbols-outlined {
  font-size: 1.2rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}