.title{
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: #374151;
    margin-top: 10px;
    margin-left: 10%;
}


.info-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* 行の間隔 */
  padding: 0px;
}

.qrcode{
  margin: 0 auto:
  padding: 0;
  display: block;
  width: 300px;
  height: 300px;
}

.info-title {
  font-size: medium;
  font-weight: bold;
  color: #333333f0;
  text-align: left ;
  margin-left: 10%;
}

.info-row {
  display: flex;
  justify-content: center;
  padding: 20px, 5px;
  gap: 0px; /* 項目間の間隔 */
}

.textbox {
  max-width: 35%;
  min-height: 55px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px; /* 内部余白 */
  margin: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  position: relative;
  display: flex;
  justify-content: center;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.label-box {
  position: absolute;
  top: -12px;
  left: 5px;
  background-color: #f9fafb;
  color: #3333337a;
  font-size: small;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 5px;
  z-index: 10;
}

.btn-blue{
  background-color: #afdafd;
}

.btn-grey{
  background-color: rgb(153, 153, 153);
}
