.search-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
.detail-search-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.infos-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  
  .info {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .info p {
    margin: 5px 0;
  }
  