.title{
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: #374151;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 5%;
}

.info-form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px;
}


.info-form-title {
    font-size: medium;
    font-weight: bold;
    color: #333333f0;
    text-align: left;
    margin-left: 10%;
}

.info-row {
    display: flex;
    justify-content: center;
    padding: 20px, 5px;
    gap: 0px; /* 項目間の間隔 */
}

.info-form{
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.field select,
.field input[type="date"],
.field input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: medium;
    text-align: center;
}

.field input[type="text"]:focus,
.field select:focus,
.field input[type="date"]:focus {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: medium;
    text-align: center;
}

.textbox {
    min-width: 35%;
    min-height: 15%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px; /* 内部余白 */
    margin: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #374151;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
  
.label-box {
    position: absolute;
    top: -12px;
    left: 5px;
    background-color: #f9fafb;
    color: #3333337a;
    font-size: small;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 5px;
    z-index: 10;
}

  
.btn-green {
    background-color: #28a746cc; /* 緑 */
}
  
.btn-red {
    background-color: #dc3545cc; /* 赤 */
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}